image: nwmqpa/modbuilder

stages:
    - build_java
    - build_python

before_script:
    - apk update && apk add python3 --upgrade
    - pip3 install twine
    - rm -rf dist
    - echo "[distutils]" >> ~/.pypirc
    - echo "index-servers =" >> ~/.pypirc
    - echo "    nexus" >> ~/.pypirc
    - echo "" >> ~/.pypirc
    - echo "[nexus]" >> ~/.pypirc
    - echo "${PYPI_REPO}" >> ~/.pypirc
    - echo "${PYPI_USER}" >> ~/.pypirc
    - echo "${PYPI_PASSWORD}" >> ~/.pypirc

compile_master_java:
    stage: build_java
    only:
        - master
    variables:
        ORG_GRADLE_PROJECT_repo: "libs-release"
    script:
        - cd java && ./gradlew artifactoryPublish


compile_dev_java:
    stage: build_java
    only:
        - dev
    variables:
        ORG_GRADLE_PROJECT_repo: "libs-snapshot"
    script:
        - cd java && ./gradlew artifactoryPublish

compile_master_python:
    stage: build_python
    only:
        - master
    script:
        - cd python
        - python3 setup.py check sdist bdist 
        - python3 setup.py sdist bdist_wheel
        - twine upload -r nexus dist/*.tar.gz


compile_dev_python:
    stage: build_python
    only:
        - dev
    script:
        - cd python 
        - python3 setup.py check sdist bdist 
        - python3 setup.py sdist bdist_wheel
        - twine upload -r nexus dist/*.tar.gz

